body {
    margin: 10px;
    padding: 0;
    font-family: arial;
    background:#EEE;
}

header {
    background-image: linear-gradient(to right, #fff, rgb(102, 255, 0), #fff);
}

.title{
    font-weight: bolder;
    font-size: 30px;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
}

.obs {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: red;
}

.explanation {
    text-align: justify;
}

.about {
    font-size: 20px;
    font-weight: bold;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************/

aside {
    position:fixed;
    top:0;
    right:0;
    z-index:999;
    display:flex;
}

#menu-opener {
    width:40px;
    height:40px;
    cursor:pointer;
    margin-top:10px;
    margin-right:10px;
}

#menu-area {
    display: auto;
    width: 0px;
    height: 100vh;
    background:#ccc;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease .5s;
}

.menu-area-opened {
    width: 200px !important;
}

#menu-area ul, #menu-area li {
    padding:0;
    list-style:none;
}

#menu-area li {
    display:block;
    padding:10px;
    color:#555;
    cursor:pointer;
}

#menu-area li:hover {
    background:#DDD;
}